.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal-content {
    opacity: 0;
    transform: scale(0.95);
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    max-width: 32rem;
    width: 100%;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    outline: none;
}

.ReactModal__Content--after-open {
    opacity: 1;
    transform: scale(1);
}

.ReactModal__Content--before-close {
    opacity: 0;
    transform: scale(0.95);
}